<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Cyprus-based professionals you can rely on.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Transaction Tracing and Analysis</h4>
                    <p class="text-muted">Using advanced blockchain analytics, we track funds and detect suspicious activities linked to real-world entities.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Evidence Collection and Documentation</h4>
                    <p class="text-muted">We deliver clear reports and visualizations mapping transactions for legal scrutiny.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gavel fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Expert Testimony</h4>
                    <p class="text-muted">Our experts provide witness services, presenting findings in court.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 col-md-offset-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Technical Support and Training</h4>
                    <p class="text-muted">We equip your team with the knowledge and tools necessary to understand and manage cryptocurrency-related issues.</p>
                </div>
            </div>
        </div>
    </section>